services:
  backend:
    build: ./backend
    container_name: backend_service
    ports:
      - "3333:3333"
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend_service
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
